## Thu, 06-09-18

In [1]:
import pandas as pd

In [6]:
data_pop =  pd.read_excel('C:/Users/student711/Desktop/pulkit/DataSets-master/DataSets-master/Population_Summary.xlsx')

In [7]:
data_pop

,Rank,State_UT,Population,Rulal,Urban,Share,Growth,Country,World_Rank
0,1,Uttar Pradesh,199812341,77.73,22.27,16.50,20.23,Brazil,5
1,2,Maharashtra,112374333,54.78,45.22,9.28,15.99,Mexico,11
2,3,Bihar,104099452,88.71,11.29,8.60,25.42,Philippines,12
3,4,West Bengal,91276115,68.13,31.87,7.54,13.84,Viet Nam,14
4,5,Andhra Pradesh,84580777,66.64,33.36,6.99,10.98,Egypt,15
5,6,Madhya Pradesh,72626809,72.37,27.63,6.00,20.35,Turkey,18
6,7,Tamil Nadu,72147030,51.60,48.40,5.96,15.61,Turkey,18
7,8,Rajasthan,68548437,75.13,24.87,5.66,21.31,Congo,19
8,9,Karnataka,61095297,61.33,38.67,5.05,15.60,Italy,23
9,10,Gujarat,60439692,57.40,42.60,4.99,19.28,Italy,23
10,11,Odisha,41974218,83.31,16.69,3.47,14.05,Argentina,32
11,12,Kerala,33406061,52.30,47.70,2.76,4.91,Morocco,39
12,13,Jharkhand,32988134,75.95,24.05,2.72,22.42,Morocco,39
13,14,Assam,31205576,85.90,14.10,2.58,17.07,Afghanistan,40
14,15,Punjab,27743338,62.52,37.48,2.29,13.89,Nepal,46
15,16,Chhattisgarh,25545198,76.76,23.24,2.11,22.61,Korea,49
16,17,Haryana,25351462,65.12,34.88,2.09,19.90,Korea,49
17,NCT,Delhi,16787941,2.50,97.50,1.39,21.21,Netherlands,64
18,18,Jammu & Kashmir,12541302,72.62,27.38,1.04,23.64,Chad,73
19,19,Uttarakhand,10086292,69.77,30.23,0.83,18.81,Hungary,89
20,20,Himachal Pradesh,6864602,89.97,10.03,0.57,12.94,Paraguay,105
21,21,Tripura,3673917,73.83,26.17,0.30,14.84,Oman,130
22,22,Meghalaya,2966889,79.93,20.07,0.25,27.95,Armenia,139
23,23,Manipur,2855794,70.79,29.21,0.24,24.50,Jamaica,141
24,24,Nagaland,1978502,71.14,28.86,0.16,-0.58,Botswana,148
25,25,Goa,1458545,37.83,62.17,0.12,8.23,Gabon,151
26,26,Arunachal Pradesh,1383727,77.06,22.94,0.11,26.03,Trinidad and Tobago,152
27,UT1,Puducherry,1247953,31.67,68.33,0.10,28.08,Mauritius,156
28,27,Mizoram,1097206,47.89,52.11,0.09,23.48,Timor-Leste,158
29,UT2,Chandigarh,1055450,2.75,97.25,0.09,17.19,Timor-Leste,158
30,28,Sikkim,610577,74.85,25.15,0.05,12.89,Montenegro,166
31,UT3,A.& N.Islands,380581,62.30,37.70,0.03,6.86,Bahamas,177
32,UT4,D.& N.Haveli,343709,53.28,46.72,0.03,55.88,Belize,179
33,UT5,Daman & Diu,243247,24.83,75.17,0.02,53.76,Vanuatu,184
34,UT6,Lakshadweep,64473,21.93,78.07,0.01,6.30,Bermuda,205

In [18]:
data_pop.head(100)

,Rank,State_UT,Population,Rulal,Urban,Share,Growth,Country,World_Rank
0,1,Uttar Pradesh,199812341,77.73,22.27,16.50,20.23,Brazil,5
1,2,Maharashtra,112374333,54.78,45.22,9.28,15.99,Mexico,11
2,3,Bihar,104099452,88.71,11.29,8.60,25.42,Philippines,12
3,4,West Bengal,91276115,68.13,31.87,7.54,13.84,Viet Nam,14
4,5,Andhra Pradesh,84580777,66.64,33.36,6.99,10.98,Egypt,15
5,6,Madhya Pradesh,72626809,72.37,27.63,6.00,20.35,Turkey,18
6,7,Tamil Nadu,72147030,51.60,48.40,5.96,15.61,Turkey,18
7,8,Rajasthan,68548437,75.13,24.87,5.66,21.31,Congo,19
8,9,Karnataka,61095297,61.33,38.67,5.05,15.60,Italy,23
9,10,Gujarat,60439692,57.40,42.60,4.99,19.28,Italy,23
10,11,Odisha,41974218,83.31,16.69,3.47,14.05,Argentina,32
11,12,Kerala,33406061,52.30,47.70,2.76,4.91,Morocco,39
12,13,Jharkhand,32988134,75.95,24.05,2.72,22.42,Morocco,39
13,14,Assam,31205576,85.90,14.10,2.58,17.07,Afghanistan,40
14,15,Punjab,27743338,62.52,37.48,2.29,13.89,Nepal,46
15,16,Chhattisgarh,25545198,76.76,23.24,2.11,22.61,Korea,49
16,17,Haryana,25351462,65.12,34.88,2.09,19.90,Korea,49
17,NCT,Delhi,16787941,2.50,97.50,1.39,21.21,Netherlands,64
18,18,Jammu & Kashmir,12541302,72.62,27.38,1.04,23.64,Chad,73
19,19,Uttarakhand,10086292,69.77,30.23,0.83,18.81,Hungary,89
20,20,Himachal Pradesh,6864602,89.97,10.03,0.57,12.94,Paraguay,105
21,21,Tripura,3673917,73.83,26.17,0.30,14.84,Oman,130
22,22,Meghalaya,2966889,79.93,20.07,0.25,27.95,Armenia,139
23,23,Manipur,2855794,70.79,29.21,0.24,24.50,Jamaica,141
24,24,Nagaland,1978502,71.14,28.86,0.16,-0.58,Botswana,148
25,25,Goa,1458545,37.83,62.17,0.12,8.23,Gabon,151
26,26,Arunachal Pradesh,1383727,77.06,22.94,0.11,26.03,Trinidad and Tobago,152
27,UT1,Puducherry,1247953,31.67,68.33,0.10,28.08,Mauritius,156
28,27,Mizoram,1097206,47.89,52.11,0.09,23.48,Timor-Leste,158
29,UT2,Chandigarh,1055450,2.75,97.25,0.09,17.19,Timor-Leste,158
30,28,Sikkim,610577,74.85,25.15,0.05,12.89,Montenegro,166
31,UT3,A.& N.Islands,380581,62.30,37.70,0.03,6.86,Bahamas,177
32,UT4,D.& N.Haveli,343709,53.28,46.72,0.03,55.88,Belize,179
33,UT5,Daman & Diu,243247,24.83,75.17,0.02,53.76,Vanuatu,184
34,UT6,Lakshadweep,64473,21.93,78.07,0.01,6.30,Bermuda,205

In [29]:
p = data_pop[["State_UT", "Population"]]
p

             State_UT  Population
0       Uttar Pradesh   199812341
1         Maharashtra   112374333
2               Bihar   104099452
3         West Bengal    91276115
4      Andhra Pradesh    84580777
5      Madhya Pradesh    72626809
6          Tamil Nadu    72147030
7           Rajasthan    68548437
8           Karnataka    61095297
9             Gujarat    60439692
10             Odisha    41974218
11             Kerala    33406061
12          Jharkhand    32988134
13              Assam    31205576
14             Punjab    27743338
15       Chhattisgarh    25545198
16            Haryana    25351462
17              Delhi    16787941
18    Jammu & Kashmir    12541302
19        Uttarakhand    10086292
20   Himachal Pradesh     6864602
21            Tripura     3673917
22          Meghalaya     2966889
23            Manipur     2855794
24           Nagaland     1978502
25                Goa     1458545
26  Arunachal Pradesh     1383727
27         Puducherry     1247953
28            Mizoram     1097206
29         Chandigarh     1055450
30             Sikkim      610577
31      A.& N.Islands      380581
32       D.& N.Haveli      343709
33        Daman & Diu      243247
34        Lakshadweep       64473

In [24]:
#n the type of the p is series
type(p)

pandas.core.series.Series

In [26]:
st = data_pop.Population

0     199812341
1     112374333
2     104099452
3      91276115
4      84580777
5      72626809
6      72147030
7      68548437
8      61095297
9      60439692
10     41974218
11     33406061
12     32988134
13     31205576
14     27743338
15     25545198
16     25351462
17     16787941
18     12541302
19     10086292
20      6864602
21      3673917
22      2966889
23      2855794
24      1978502
25      1458545
26      1383727
27      1247953
28      1097206
29      1055450
30       610577
31       380581
32       343709
33       243247
34        64473
Name: Population, dtype: int64

In [40]:
# row wise access of the datafram by using the iloc and loc
data_pop.iloc[0]

Rank                      1
State_UT      Uttar Pradesh
Population        199812341
Rulal                 77.73
Urban                 22.27
Share                  16.5
Growth                20.23
Country              Brazil
World_Rank                5
Name: 0, dtype: object

In [46]:
data_pop.iloc[5:,5]

5     6.00
6     5.96
7     5.66
8     5.05
9     4.99
10    3.47
11    2.76
12    2.72
13    2.58
14    2.29
15    2.11
16    2.09
17    1.39
18    1.04
19    0.83
20    0.57
21    0.30
22    0.25
23    0.24
24    0.16
25    0.12
26    0.11
27    0.10
28    0.09
29    0.09
30    0.05
31    0.03
32    0.03
33    0.02
34    0.01
Name: Share, dtype: float64

In [66]:
data_pop[data_pop["Growth"] ==data_pop["Growth"].min()]

,Rank,State_UT,Population,Rulal,Urban,Share,Growth,Country,World_Rank
24,24,Nagaland,1978502,71.14,28.86,0.16,-0.58,Botswana,148

In [78]:
data_pop["Growth"] == data_pop.Growth.min()

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
22    False
23    False
24     True
25    False
26    False
27    False
28    False
29    False
30    False
31    False
32    False
33    False
34    False
Name: Growth, dtype: bool

In [83]:
data_pop.iloc[17].Population

16787941

In [87]:
data_pop[data_pop["Population"] <= 16787941]

,Rank,State_UT,Population,Rulal,Urban,Share,Growth,Country,World_Rank
17,NCT,Delhi,16787941,2.50,97.50,1.39,21.21,Netherlands,64
18,18,Jammu & Kashmir,12541302,72.62,27.38,1.04,23.64,Chad,73
19,19,Uttarakhand,10086292,69.77,30.23,0.83,18.81,Hungary,89
20,20,Himachal Pradesh,6864602,89.97,10.03,0.57,12.94,Paraguay,105
21,21,Tripura,3673917,73.83,26.17,0.30,14.84,Oman,130
22,22,Meghalaya,2966889,79.93,20.07,0.25,27.95,Armenia,139
23,23,Manipur,2855794,70.79,29.21,0.24,24.50,Jamaica,141
24,24,Nagaland,1978502,71.14,28.86,0.16,-0.58,Botswana,148
25,25,Goa,1458545,37.83,62.17,0.12,8.23,Gabon,151
26,26,Arunachal Pradesh,1383727,77.06,22.94,0.11,26.03,Trinidad and Tobago,152
27,UT1,Puducherry,1247953,31.67,68.33,0.10,28.08,Mauritius,156
28,27,Mizoram,1097206,47.89,52.11,0.09,23.48,Timor-Leste,158
29,UT2,Chandigarh,1055450,2.75,97.25,0.09,17.19,Timor-Leste,158
30,28,Sikkim,610577,74.85,25.15,0.05,12.89,Montenegro,166
31,UT3,A.& N.Islands,380581,62.30,37.70,0.03,6.86,Bahamas,177
32,UT4,D.& N.Haveli,343709,53.28,46.72,0.03,55.88,Belize,179
33,UT5,Daman & Diu,243247,24.83,75.17,0.02,53.76,Vanuatu,184
34,UT6,Lakshadweep,64473,21.93,78.07,0.01,6.30,Bermuda,205